fastapi
uvicorn
redis
requests           # Para consultar la API de Bitcoin
sqlalchemy         # ORM (Manejo de Base de Datos)
psycopg2-binary    # Driver de Postgres
alembic            # Para las migraciones
